<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/cadastro" method="POST">
        <!-- Nome -->
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required><br><br><br>
        <!-- Sobrenome -->
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome" required><br><br><br>
        <!-- Idade -->
        <label for="idade">Idade</label>
        <input type="text" id="idade" name="idade" required><br><br><br>
        <!-- País -->
        <label for="pais">Pais</label>
        <input type="text" id="pais" name="pais" required><br><br><br>
        <!-- Botão para enviar todas as informações-->
        <input type="submit" value="Enviar">
    </form>    
</body>
</html>