<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <form action="/media" method="POST">
        <!-- Nota 1-->
        <label for="nota1">Nota 1</label>
        <input type="text" id="nota1" name="nota1" required><br><br><br>
        <!-- Nota 2-->
        <label for="nota2">Nota 2</label>
        <input type="text" id="nota2" name="nota2" required><br><br><br>
        <!-- Nota 3-->
        <label for="nota3">Nota 3</label>
        <input type="text" id="nota3" name="nota3" required><br><br><br>
        <!-- Botão para enviar todas as informações-->
        <input type="submit" value="Enviar">
    </form>    
</body>
</html>